Repository ngumamy/funtoasmie: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

repo:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range:
    - "70.0"
    - "100.0"

ignore:
  - "node_modules"
  - "__tests__"
  - "*.test.js"
  - "*.spec.js"

flags:
  backend:
    carryforward: true
    paths:
      - backend
  frontend:
    carryforward: true
    paths:
      - frontend

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  delete_outdated_comments: true

ci:
  - github

package-json
  backend/package-lock.json
Due: backend

package
  backend/__tests__/auth.test.js
  backend/__tests__/validators.test.js
Due: backend

correction
  backend/config/config.js
  backend/config/database.js
Due: backend

SSL
  .github/workflows/deploy.yml
  docker-compose.prod.yml
  frontend/nginx/default.conf
Due: frontend

ix: Add HTTP fallback for SSL bootstrap and improve certbot setup
  docker-compose.prod.yml
  frontend/nginx/default.conf
  init-ssl.sh
Due: frontend

fix: Increase nginx header and cookie buffer sizes
  frontend/nginx/default.conf
Due: frontend

fix: Increase nginx header and buffer sizes to handle large cookies/headers
  frontend/nginx/default.conf
Due: frontend

CORRECTION sur Dockerfile
  frontend/Dockerfile
Due: frontend

CORRECTION sur Dockerfile
  backend/config/config.js
Due: backend

fix: change RAAURL
  .env.example
  .github/workflows/deploy.yml
Due: none

resoudre
  CHECK_STATUS.md
  backend/controllers/authController.js
  docker-compose.prod.yml
Due: backend

s
  docker-compose.prod.yml
  frontend/nginx/default.conf
  frontend/nginx/default.conf.prod-ssl
Due: frontend

resoudre problème de port
  .env.example
  SETUP_GUIDE.md
Due: none

Doctor
  frontend/src/components/doctor/DoctorDashboard.js
Due: frontend

fix problème auth
  backend/routes/auth.js
Due: backend

ajustement
  .github/workflows/deploy.yml
  DOCTOR_IMPROVEMENTS_SUMMARY.md
  backend/controllers/consultationController.js
  backend/controllers/medicalPrescriptionController.js
  backend/index.js
  backend/models/Consultation.js
  backend/models/MedicalPrescription.js
  backend/routes/medications.js
Due: backend

Monnitoring stack
  backend/index.js
  backend/package-lock.json
  backend/package.json
Due: backend

tr
  frontend/src/components/admin-pharmacist/AdminPharmacistSidebar.js
Due: frontend

amélioration code CSS de stock global
  TESTING.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/admin-pharmacist/AdminPharmacistDashboard.css
  frontend/src/components/admin-pharmacist/AdminPharmacistDashboard.modern.css
  frontend/src/components/admin-pharmacist/AdminPharmacistDashboard.modern.js
  frontend/src/components/admin-pharmacist/AdminPharmacistSidebar.js
  frontend/src/components/admin-pharmacist/GlobalStockManagement.css
  frontend/src/components/admin-pharmacist/GlobalStockManagement.js
Due: frontend

amelioration interface
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/src/components/doctor/DoctorDashboard.js
Due: frontend
